

#ignore all the other images
./lmd_matched
/lmd_matched
lmd_matched/
.lmd_matched/
./maestro-v3.0.0
/maestro-v3.0.0
maestro-v3.0.0/
.maestro-v3.0.0/

.incorrect_genre_midis
./ incorrect_genre_midis
incorrect_genre_midis/
/incorrect_genre_midis
incorrect_genre_midis/
.incorrect_genre_midis/

older_numpy_events/
/older_numpy_events

/saved_classifier_models
saved_classifier_models/

/saved_classifier_models
.saved_classifier_models
.saved_classifier_models/

